body {
  background-color: ;
}

* {
  font-family: 'Comfortaa', cursive;
  margin-left: 10vw;
  margin-right: 10vw;
}


video {
  height: 500px;
  max-width: 70%;
  position: relative;
  display: inline;
  margin: 5vw;
}

.videobox {
  position: absolute;
  top: 100vh;
}

p {
  font-size: 100px;
  position: absolute;
  top: 35vh;
}

.lines {
  height: 100vh;
  width: 5px;
  color: cyan;
  position: fixed;
  left: 10px;
}
